.container {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  padding-top: 31px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 16px;
  height: 16px;
  fill: currentcolor;
}

.navPane {
  overflow: hidden;
  background-color: rgba(255,255,255, 0.1);
  position: relative;
  top: -31px;
  padding-top: 31px;
  height: 100%;
}


.navPane::before {
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  filter: blur(5px);
  opacity: 1;
  background: url('../assets/background.jpg') no-repeat center fixed;
  background-size: cover;
}
