@import "~font-awesome/css/font-awesome.css";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background: url('./assets/background.jpg') no-repeat center fixed;
  background-size: cover;
}
